input[type="checkbox"], input[type="radio"] {
    width: 15px;
    height: 15px;
    display: inline-block;
}
#example{
	padding:20px 0;
	margin-left:200px;
}
.main-box-header{
	margin-bottom: 15px;
}
.table>tbody>tr>td{
	vertical-align: middle;
}
.table>thead>tr>th{
	background-color:#d9edf7;
}
table ul{
	margin-bottom: 0;
}
table tr {
    height: 35px;
}
ul li{
	list-style: none;	
}

.radio_inline{
	display: inline-block;
	margin-right: 10px;
}
.nav>li {
    float: left;
    margin-right:10px;
}
.nav>li>a {
	padding:10px 0;
}
.table_border {
    border: 1px solid #ddd;
    border-top: none;
    margin-left: -15px;
    margin-bottom: 15px;
    height: 210px;
}    
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left:0;
}

/*vue 动画*/
.fade-transition{
	transition: 1s all ease;	
}
.fade-enter{
	opacity: 0;
}
.fade-leave{
	opacity: 0;
	transition: opacity .5s
}
